node_modules
common/dist/**/*
!common/dist/**/*.keep
common/src/**/*.js
deploy/dist/**/*
!deploy/dist/**/*.keep
deploy/src/**/*.js
data-access/dist/**/*
!data-access/dist/**/*.keep
data-access/src/**/*.js
typings
*.log
/config
